.App-header {
  text-align: center;
  font-size: 50px;
  font-family: cursive;
}
.textfield {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.button {
  display: none;
  flex-direction: row;
}
